/*CSS*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0px;
    color: #fff;
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    font-style: normal;
}
.logo{
    position: absolute;
    top: 5px;
    left: 5px;

}

/* Image/Word Animation*/
.homeHero {
    width: 100vw;
    overflow: hidden;
    padding-top: 0;
    margin-top: 75px;
}
.homeHero--inner {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start (left) */
    justify-content: center;
    padding-left: 50px; /* Add padding for better positioning */
}
.homeHero__title {
    
    font-size: 6rem;
    line-height: 7rem;
    text-align: left; /* Align text to the left */
    color: transparent;
    -webkit-text-stroke: 2px #6643b5;
    -webkit-text-fill-color: white;
    width: 50%; /* Set width to 50% */
    margin: 0; /* Remove auto centering */
    font-family: 'Arial', sans-serif; /* Use the New Astro font */
    z-index: 1;
}
.homeHero__title div {
    transition: 1.5s opacity ease .5s,1.5s transform ease .5s,.5s color ease,.5s -webkit-text-stroke ease,1.5s -webkit-transform ease .5s,1.5s -moz-transform ease .5s,1.5s -o-transform ease .5s;
}
.homeHero__title div:hover {
    color: white;
    -webkit-text-stroke: 2px #6643b5;
}
.homeHero__clips {
	width: 200px;
	height: 200px;
	margin-bottom: 35px;
	object-fit: cover;
	display: block;
	-webkit-clip-path: circle(50%);
	clip-path: circle(50%);
	z-index: 10;
	mix-blend-mode: exclusion;
}

.cb-cursor {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999999;
    contain: layout style size;
    pointer-events: none;
    will-change: transform;
    transition: opacity 1s,color .4s;
}
.cb-cursor-text {
    position: absolute;
    top: -30px;
    left: -30px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    color: white;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.7rem;
    text-align: center;
    letter-spacing: -.01em;
    transition: opacity 1s,transform .3s,-webkit-transform .3s,-moz-transform .3s,-o-transform .3s;
}
.cb-cursor.-video{
    z-index: 9;
    mix-blend-mode: exclusion;
}

.cb-cursor-video {
    transform: scale(0);
    opacity: 1;
    transition: opacity 1s,-webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out,opacity 1s;
    transition: transform .3s ease-in-out,opacity 1s,-webkit-transform .3s ease-in-out,-moz-transform .3s ease-in-out,-o-transform .3s ease-in-out;
}
.cb-cursor.-video .cb-cursor-video{
    opacity: 1;
    transform: scale(1);
}
.cb-cursor #reel-clips {
    width: 350px;
    height: 350px;
    position: absolute;
    top: -175px;
    left: -175px;
    -o-object-fit: cover;
    object-fit: cover;
    display: block;
    -webkit-clip-path: circle(28%);
    clip-path: circle(28%);
}
/* End*/




/*Social Media links*/
.linkedin {
    position: absolute;
    color: #6643b5;
    font-size: 80px;
    --ionicon-stroke-width: 32px;
    top: 10px;
    right: 90px;
    height: 40px;
    width: 40px;
    line-height: 50px;
    border-radius: 100%;
}
.insta {
    position:absolute;
    color:#6643b5 ;
    font-size: 80px;
    --ionicon-stroke-width: 32px;
    top: 10px;
    height: 40px;
    width: 40px;
    line-height: 50px;
    right: 150px;
    border-radius: 50%;
}
.engineering {
    position: absolute;
    font-size: 80px;
    top: 10px;
    right: 220px;
    --ionicon-stroke-width: 32px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 50px;
}
.sign-up{
    position: absolute;
    top: 15px;
    right: 280px;
    background-color: #6643b5;
    color: white;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
  
}
/*End*/

/*Overlay Menu*/
.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(-135deg, #6643b5, white);
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.3s ease-in-out;
    z-index: 100;
}

#active:checked ~ .wrapper {
    clip-path: circle(75%);
}

.menu-btn {
    position: absolute;
    z-index: 101;
    right: 20px;
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(-135deg, #6643b5);
    transition: all 0.3s ease-in-out;
}

#active:checked ~ .menu-btn {
    background: #fff;
    color: #ffe79a;
}

#active:checked ~ .menu-btn i:before {
    content: "\f00d";
}

.wrapper ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
}

.wrapper ul li {
    margin: 15px 0;
}

.wrapper ul li a {
    color: none;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
}

.wrapper ul li a:after {
    position: absolute;
    content: "";
    background: #fff;
    width: 100%;
    height: 50px;
    left: 0;
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    transition: transform 0.3s ease;
}

.wrapper ul li a:hover:after {
    transform: scaleY(1);
}

.wrapper ul li a:hover {
    color: #6643b5;
}

input[type="checkbox"] {
    display: none;
}

/*About Section*/
.about {
    padding: 50px;
    margin-left: 50px;
    margin-right: 50px;
    left: 200px;
    background: #6643b5;
    color: white;
    text-align: center;
    font-size: 2rem;
    line-height: 3rem;
    font-family: 'Poppins', sans-serif;
    border-radius: 25px;
 
}

.about h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}
.about p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.5rem;
    line-height: 2rem;
}
/*End*/

/*Challenge Flip Cards*/
/* Container for flip cards */
.flip-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
}

/* Individual flip cards */
.flip-card {
    position: relative;
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    border-radius: 50px;
    overflow: hidden;
    margin: 10px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 50px;
    font-size: 0.7rem;
    line-height: 1.5;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.6s;
    border-radius: 50px;
}

.flip-card-front {
    background-color: white;
    color: black;
}

.flip-card-back {
    background-color: #6643b5;
    color: white;
    transform: rotateY(180deg);
}

.flip-card-heading {
    position: absolute;
    top: 100px;
    left: 20px;
    right: 20px;
    text-align: center;
    z-index: 1;
}

.flip-card-heading h3 {
    margin: 0;
    font-size: 1.5rem;
    color: white;
    background-color: #6643b5;
    padding: 10px 20px;
    border-radius: 20px;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Footer style */
.footer {
    padding: 20px;
    width: 100%;
    background-color: #6643b5;
    font-size: medium;
    text-align: center;
    margin-top: 80px;
}

/*Contact Us form*/

input[type=text], input[type=email], select, textarea{
    width: 60%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

.button {
    background-color: white;
    color: #6643b5;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
.button:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  

  .contact-style {
    padding: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 150px;
    left: 200px;
    background: #6643b5;
    color: white;
    font-size: 1.5rem;
    line-height: 3rem;
    font-family: 'Poppins', sans-serif;
    border-radius: 25px;
    text-align: left;
}

input[type=text], input[type=email], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    font-size: small;
    
}

input[type=submit]{
    background-color: white;
    color: #6643b5;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
}
.topic{
    padding: 40px;
    background-color: #6643b5;
    color: white;
    font-size: 30px;
    border-radius: 25px;
    width: 50%;
    margin-top: 30px;
    margin-left: 290px;
    text-align: center; 
    font-weight: bold; 
}
.faq-container {
   
    margin-top: 70px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

/* Style the collapsible buttons */
.collapsible {
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 70%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    margin-bottom: 5px; /* Space between buttons */
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #6643b5;
    margin-top: 15px;
}

/* Style the collapsible content */
.content {
    padding: 18px;
    display: none; /* Hidden by default */
    overflow: hidden;
    background-color: #6643b5;
    color: white; 
    border-radius: 25px; 
    width: 70%;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out; /* Smooth transition */
    max-height: 0; /* Collapse by default */
    margin-bottom: 15px; /* Space between content sections */
    font-size: 16px;
}

/* Display the content when active */
.content.show {
    display: block;
    max-height: 1000px; /* Adjust based on the expected content height */
}

.active, .collapsible:hover {
    background-color: #6643b5;
}

* {box-sizing: border-box}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 700px;
  position: absolute;
  margin-top: 70px;
  margin-left: 250px;
  max-height: 400px;
  
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.prizes{
    background-color: #6643b5;
    color: white;
    padding: 20px;
    position: absolute;
    margin-top: 550px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 25px;
    font-size: medium;
}

.work-with-us-container{
    padding: 10px;
    background-color: #6643b5;
    color: white;
    font-size: 30px;
    border-radius: 25px;
    font-weight: bold; 
    margin-top: 250px;
    margin-left: 150px;
    width: 75%;
}
.work-with-us{
    background-color: #6643b5;
    color: white;
    padding: 20px;
}
.work-with-us h4{
    text-align: center;
    padding: 10px;
}
.work-with-us p {
    font-size: medium;
    padding: 10px;
}
.work-with-us a{
    font-size: medium;
    color: #6643b5;
}
.email-box{
    background-color: white;
    border-radius: 25px;
    width: 35%;
   padding: 3px;
    text-align: center;
    margin-left: 250px;
}

